/* Fix user-agent */

* {
  box-sizing: border-box;
}

html {
  background-color: #000;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

login.page {
  /* background-color: #bf4646; */
  background-color: #333;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

login.page section {
  display: flex;
  flex-flow: column;
}

login.page section .playernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

login.page .title {
  font-size: 200%;
  text-align: center;
}

login.page h1.title {
  position: fixed;
  top: 35px;
  font-weight: 700;
  letter-spacing: 10px;
}

login.page .playernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

login.page .title, login.page .playernameInput {
  color: #fff;
  font-weight: 100;
}

login.page buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  flex-direction: column;
}


/* lobby page */

lobby.page {
  background-color: #bf4646;
}

lobby.page section {
  margin: auto;
  width: 300px;
  display: flex;
  flex-direction: column;
}

lobby.page .title {
  font-size: 200%;
  color: #fff;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

lobby.page control {
  display: grid;
  text-align: center;
  color: white;
}

lobby.page .playerList {
  list-style-type: none;
  padding: 15px;
}

lobby.page .playerList li {
  background: whitesmoke;
  padding: 3px 0px;
  margin: 15px auto;
  text-align: center;
  border-radius: 200px;
}

/* Game Screen */

game.page {
  background: #333;
}

game.page section {
  display: flex;
  width: 800px;
  min-width: 800px;
  max-width: 800px; 
  height: 100%;
  margin: auto;
}

game.page sidebar {
  background: #222;
  width: 150px;
}

game.page mainside  {
  background: #333;
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  position: relative;
}

game.page playersView {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  height: 60px;
  width: 100%;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  background-color: rgba(200,200,255,.2);
  z-index: 1;
}

game.page playerCard {
  padding: 5px 15px;
  margin: 0 5px;
  border-radius: 30px;
  min-width: 58px;
  text-align: center;
  font-size: 10px;
  color: #212529;
  font-weight: 700;
  /*! background: #fff; */
  border: 1px solid #fff;
  color: #fff;
  cursor: default;
}

game.page playerCard.currentPlayer {
  background-color: #fff;
  color: #111;
}

game.page gametable {
  display: flex;
  height: 100%;
  background: #555;
  align-items: center;
  justify-content: center;
  position: relative;
}

gameTable .CardPiles {
  position: absolute;
  display: flex;
  top: 0;
  height: 80%;
}

gametable .Card {
  top: 1px;
  left: 1px;
}

game.page playerView {
  display: flex;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

game.page controls {
  display: flex;
  width: 80%;
  justify-content: center;
}

game.page .action {
  margin: 5px 10px;
  padding: 5px 10px;
  border-radius: 5px;
  width: 100px;
  text-align: center;
  font-weight: bold;
}

game.page hand {
  display: flex;
  position: relative;
  background: #333;
  border-top: 1px solid #848484;
  border-left: 1px solid #848484;
  border-right: 1px solid #848484;
  border-bottom: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  height: 140px;
  width: 80%;
  align-items: center;
  padding: 0px 10px;
}


.Widget {
  left: 0;
  position: absolute;
  top: 0;
  -ms-touch-action: none;
  touch-action: none;
}

.CardPile {
  border-top: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background: #956a6a;
  border-radius: calc(8px * var(--scale));
  width: 72px;
  height: 110px;
  margin: auto 50px;
  position: relative;
}

.Card {
  cursor: grab;
  font-size: 14px;
  overflow: hidden;
  position: absolute;
  left:0px;
  top:0px;
  width: 68px;
  height: 105px;
  background: #fff;
  border-radius: calc(8px * var(--scale));
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6a2a2a;
  font-weight: 700;
}

hand .Card {
  position: relative;
  margin: 0 5px;
}

hand .Card.selected {
  border: 2px solid blue;
}

.Card.Dragging {
  display: none;
}

.CardContainer.DragEnter {
  border: 1px dotted white;
}

hand.CardContainer.DragEnter {
  border-bottom: 0;
}
